/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
  
@media screen and (min-width: 768px) {
    /* for moble phone: */
  [class*="col-"] {
    width: 100%;
  }
}

/* this is the mainbody comment */
    #mainBody {
    background-color:beige;
    }
/* secondPage comment */
#secondPage {
    background-color: lightskyblue;  
}
/* thirdPage comment */
#ThirdPage {
    background-color:   lightskyblue
}
/* fourthPage comment */
#fourthPage {
    background-color: bisque;
}
/* fifthPage comment */
#fifthPage {
    background-color: rgb(128, 94, 94);
}
/* center comment */ 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* section comment */
#section {
    display: block;
}
/* tables comment */
table, th, td{
    border:1px solid black;
    border-collapse: collapse;
}
/* nav comment */

nav.topnav li {
    list-style-type: none;
}
/* div comment */

div {
    font-size-adjust: 0.58;
}
/* class comment */
[class$="test"] {
    background: #ffff00;
}
video {
   max-width: 100;
   height:auto;
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* Three images containers */ 
.images {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /*image */
  .smallpicture {
     width: 200px;    
  }

  div img {
      width: 300px;
  }

  div.banner section {
      /* border: 1px solid black; */
  }

  div.banner section div.column {
      /* border: 3px solid red; */
  }


